.sign-in {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100dvh;
}
.si-left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.si-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin-body {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 60%;
}
